@{
    ViewData["Title"] = "Home Page";
}



<!DOCTYPE html>
<html>
<head>
    <title>Welcome</title>
    <link rel="stylesheet" href="" />
</head>
<body class="body">
    <div class="indexview">
        <div class="welcome">
            <h1 class="welcometitle">Bienvenidos</h1>
            <div class="imageneswelcome">
			    <img class="logonet" alt="logo" src="@Url.Content("~/img/Logo_.Net.png")" />
                <img class="myavatar" alt="myavatar" src="@Url.Content("~/img/Imagen_de_WhatsApp_2025-05-20_a_las_08.53.04_91b42b24-removebg-preview.png")" />
			    <img class="logoasp" alt="logo" src="@Url.Content("~/img/Logo_ASP.png")" />
            </div>
        </div>
        <div class="concepts">
            <article class="whatisasp">
                <h2>Que es ASP.Net Core?</h2>
                <p>
                    ASP.NET Core es un framework de desarrollo web creado por Microsoft que permite construir aplicaciones
                    web, APIs y servicios rápidos y modernos. Es multiplataforma, lo que significa que funciona en Windows, Linux y macOS, y está diseñado para ser ligero, rápido y escalable. 
                    Ideal para crear desde sitios web simples hasta aplicaciones empresariales complejas. Si quiere mas informacion
                    sbre esta herramienta consulte: <a href="https://dotnet.microsoft.com/es-es/apps/aspnet">https://dotnet.microsoft.com/es-es/apps/aspnet</a>
                </p>
            </article>
			<article class="whatismvc">
				<h2>Que es MVC?</h2>
				<p>
					MVC (Modelo-Vista-Controlador) es un patrón de diseño arquitectónico que separa una aplicación en tres componentes principales:
					Modelo (gestiona los datos y la lógica de negocio), Vista (presenta la interfaz de usuario) y Controlador (interactúa entre el modelo y la vista).
					Esta separación facilita el desarrollo, mantenimiento y escalabilidad de aplicaciones web. Si quiere mas informacion
					sbre esta herramienta consulte: <a href="https://docs.microsoft.com/es-es/aspnet/core/mvc/overview?view=aspnetcore-8.0">https://docs.microsoft.com/es-es/aspnet/core/mvc/overview?view=aspnetcore-8.0</a>
				</p>
            </article>
        </div>
        <h2>Ejercicios de Modelo Vista Controlador</h2>
		<div class="games">
            <div class="game">
                <img class="user" src="@Url.Content("~/img/Face-ID-User.gif")" />
                <h3>User Game</h3>
                <p>En esta es el primer paso para aprender a desarrollar habilidades de ASP.Net Core MVC (Model-View-Contoller). 
                    En esta simple actividad se va a ralizar la insercion de usarios en una List de tipo usuarios y en el siguiente
                    boton se imprimara el listado de usarios ingresados</p>
                <button class="buttonusergame">
                    <a asp-area="" asp-controller="User" asp-action="Login">User Game</a>
                </button>
            </div>
            <div class="game">
                <img class="chickent" src="@Url.Content("~/img/Chicken_Development_Crazy.gif")" />
                <h3>Chickent Game</h3>
                <p>
                    En esta actividad se busca explorar de una mejor manera como se desarrolla un proyecto de ASP.Net Core MVC (Model-View-Contoller)
                    con una estructura dinamica con los arboles generales. De manera didactica y divertiva se explica el funcionamiento de un grafo en desarrollado
                    con MVC. Emulando la paradoja de el huevo y la gallina (Suponiendo que primero fue la gallina, NO DISCUTA JULIAN), se demuestra como 
                    la gallina tiene huevos que se convertiran en gallinas y tendran sus hijos, y de esta manera poder y identificar la gallina madre y los 
                    hermanos e hijos.
                </p>
                <button class="buttonchickengame">
                    <a asp-area="" asp-controller="ChickenTree" asp-action="Farm">Chicken Game</a>
                </button>
            </div>
        </div>
    </div>

</body>
</html>